<%= form_with(model: visit, class: "contents") do |form| %>
  <% if visit.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul class="list-disc ml-6">
        <% visit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :link_id %>
    <%= form.text_field :link_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": visit.errors[:link_id].none?, "border-red-400 focus:outline-red-600": visit.errors[:link_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :ip_address %>
    <%= form.text_field :ip_address, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": visit.errors[:ip_address].none?, "border-red-400 focus:outline-red-600": visit.errors[:ip_address].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :user_agent %>
    <%= form.textarea :user_agent, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": visit.errors[:user_agent].none?, "border-red-400 focus:outline-red-600": visit.errors[:user_agent].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :referer %>
    <%= form.textarea :referer, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": visit.errors[:referer].none?, "border-red-400 focus:outline-red-600": visit.errors[:referer].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :country %>
    <%= form.text_field :country, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": visit.errors[:country].none?, "border-red-400 focus:outline-red-600": visit.errors[:country].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :city %>
    <%= form.text_field :city, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": visit.errors[:city].none?, "border-red-400 focus:outline-red-600": visit.errors[:city].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :device_type %>
    <%= form.text_field :device_type, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": visit.errors[:device_type].none?, "border-red-400 focus:outline-red-600": visit.errors[:device_type].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :browser %>
    <%= form.text_field :browser, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": visit.errors[:browser].none?, "border-red-400 focus:outline-red-600": visit.errors[:browser].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :os %>
    <%= form.text_field :os, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": visit.errors[:os].none?, "border-red-400 focus:outline-red-600": visit.errors[:os].any?}] %>
  </div>

  <div class="my-5 flex items-center gap-2">
    <%= form.label :bot %>
    <%= form.checkbox :bot, class: ["block shadow-sm rounded-md border order-first h-5 w-5", {"border-gray-400 focus:outline-blue-600": visit.errors[:bot].none?, "border-red-400 focus:outline-red-600": visit.errors[:bot].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :visited_at %>
    <%= form.datetime_field :visited_at, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": visit.errors[:visited_at].none?, "border-red-400 focus:outline-red-600": visit.errors[:visited_at].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
