<div id="<%= dom_id campaign %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= campaign.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Source:</strong>
    <%= campaign.source %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Medium:</strong>
    <%= campaign.medium %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= campaign.notes %>
  </div>
</div>
